<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45148506697-jg7svdm8ruh5p6t9cfdamdaqkp5jbkji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45148506697-jg7svdm8ruh5p6t9cfdamdaqkp5jbkji</string>
	<key>API_KEY</key>
	<string>AIzaSyBqQ8AnH-LO2bg9C9WHJtv73UTptKZDCuA</string>
	<key>GCM_SENDER_ID</key>
	<string>45148506697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neosihao.chat-ios</string>
	<key>PROJECT_ID</key>
	<string>chat-app-ios-e4316</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-ios-e4316.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45148506697:ios:e3f206aa545759a6b88d98</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-ios-e4316.firebaseio.com</string>
</dict>
</plist>